.dropdown {
  position: relative;
  display: inline-block;
}

.content {
  padding: 10px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  user-select: none;
}

.content:hover {
  color: #b3e2a7;
}

.arrow-down {
    margin-top: 5px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-top: 10px solid #80B9AD;
}

.dropdown-menu {
  width: 100%;
  position: absolute;
  background-color: #80b9ad;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu li {
  padding: 8px 12px;
  border-bottom: 1px solid #b3e2a7;
  cursor: pointer;
  text-align: center;
}

.dropdown-menu li:hover {
  background-color: #b3e2a7;
}
